In [1]:
import pandas as pd

getting the ducation levels for FMLI 232

In [2]:
education232=pd.read_csv(r"C:\Users\Owner\Documents\NSS\Capstone\Educationproj\data\intrvw23\fmli232.csv")

In [3]:
education232.head()

,NEWID,DIRACC,DIRACC_,AGE_REF,AGE_REF_,AGE2,AGE2_,AS_COMP1,AS_C_MP1,AS_COMP2,...,CBSAPRIN,URBAN,CHDTXP,CHDTXP_,CHDTXPH,CHDTXPH_,NUM_VET,fftaxowe,fstaxowe,FINATXEM
0,5090604,1.0,D,74,D,72.0,D,1,D,1,...,2,1,NaN,A,NaN,A,1,0,0,40677.0
1,5090624,1.0,D,87,T,NaN,A,0,D,1,...,2,2,NaN,A,NaN,A,0,0,0,13787.0
2,5090634,1.0,D,58,D,NaN,A,0,D,1,...,2,1,NaN,A,NaN,A,0,20397,7544,107059.0
3,5090664,1.0,D,55,D,52.0,D,1,D,1,...,2,2,NaN,A,NaN,A,0,3552,1489,57932.4
4,5090674,1.0,D,31,D,31.0,D,1,D,2,...,1,1,NaN,A,NaN,A,0,415,0,36475.0

In [5]:
education232= education232[['REGION','HIGH_EDU','FINCBTAX']]

In [ ]:
education232.head(2)

In [ ]:
education232['regionplace']= ''
education232['Education level']=''

In [6]:
regionplace=[]
for index, region in education232.iterrows():
    if region['REGION']== 1:
        regionplace.append('Northeast')
    elif region['REGION']== 2:
        regionplace.append('Midwest')
    elif region['REGION']== 4:
        regionplace.append('South')
    elif region['REGION']== 4:
        regionplace.append('West')
    else:
        regionplace.append('N/A')
education232['regionplace']=regionplace

In [ ]:
educlevel=[]
for index, educ in education232.iterrows():
    if educ['HIGH_EDU']== {0,00,10,11}:
        educlevel.append('No degree')
    elif educ['HIGH_EDU']== {11,12,13}:
        educlevel.append('High School')
    elif educ['HIGH_EDU']== 14:
        educlevel.append('Associate Degree')
    elif educ['HIGH_EDU']== 15:
        educlevel.append('Bachelor Degree')
    elif educ['HIGH_EDU']== 16:
        educlevel.append('Master Degree')
    elif educ['HIGH_EDU']== 17:
        educlevel.append('Professional/Doctorate Degree')
    else:
        educlevel.append('N/A')
education232['Education level']=educlevel

In [7]:
education232=education232.reset_index(drop=True)

In [9]:
education232=education232[education232['Education level'] != 'N/A']
education232=education232[education232['regionplace'] != 'N/A']

0           N/A
1           N/A
2         South
3           N/A
4         South
5     Northeast
6           N/A
7     Northeast
8         South
9       Midwest
10      Midwest
11        South
12      Midwest
13      Midwest
14      Midwest
15      Midwest
16    Northeast
17          N/A
18    Northeast
19      Midwest
Name: regionplace, dtype: object

In [13]:
education232regionavg= education232.groupby(['regionplace','Education level'])['FINCBTAX'].mean()

In [ ]:
education233regionmedian= education232.groupby(['regionplace','Education level'])['FINCBTAX'].median()

In [ ]:
education232regionavg

In [ ]:
education233regionmedian

In [ ]:
#plots....