In [1]:
import pandas as pd

2023 Q2

In [6]:
education232=pd.read_csv(r"C:\Users\Owner\Documents\NSS\Capstone\Educationproj\data\intrvw23\fmli232.csv")

In [3]:
education232.head()

,NEWID,DIRACC,DIRACC_,AGE_REF,AGE_REF_,AGE2,AGE2_,AS_COMP1,AS_C_MP1,AS_COMP2,...,CBSAPRIN,URBAN,CHDTXP,CHDTXP_,CHDTXPH,CHDTXPH_,NUM_VET,fftaxowe,fstaxowe,FINATXEM
0,5090604,1.0,D,74,D,72.0,D,1,D,1,...,2,1,NaN,A,NaN,A,1,0,0,40677.0
1,5090624,1.0,D,87,T,NaN,A,0,D,1,...,2,2,NaN,A,NaN,A,0,0,0,13787.0
2,5090634,1.0,D,58,D,NaN,A,0,D,1,...,2,1,NaN,A,NaN,A,0,20397,7544,107059.0
3,5090664,1.0,D,55,D,52.0,D,1,D,1,...,2,2,NaN,A,NaN,A,0,3552,1489,57932.4
4,5090674,1.0,D,31,D,31.0,D,1,D,2,...,1,1,NaN,A,NaN,A,0,415,0,36475.0

In [5]:
education232= education232[['REGION','HIGH_EDU','FINCBTAX']]

In [ ]:
education232.head(2)

In [ ]:
education232['regionplace']= ''
education232['Education level']=''

In [6]:
regionplace=[]
for index, region in education232.iterrows():
    if region['REGION']== 1:
        regionplace.append('Northeast')
    elif region['REGION']== 2:
        regionplace.append('Midwest')
    elif region['REGION']== 3:
        regionplace.append('South')
    elif region['REGION']== 4:
        regionplace.append('West')
    else:
        regionplace.append('N/A')
education232['regionplace']=regionplace

In [ ]:
educlevel=[]
for index, educ in education232.iterrows():
    if educ['HIGH_EDU']== {0,00,10,11}:
        educlevel.append('No degree')
    elif educ['HIGH_EDU']== {11,12,13}:
        educlevel.append('High School')
    elif educ['HIGH_EDU']== 14:
        educlevel.append('Associate Degree')
    elif educ['HIGH_EDU']== 15:
        educlevel.append('Bachelor Degree')
    elif educ['HIGH_EDU']== 16:
        educlevel.append('Master Degree')
    elif educ['HIGH_EDU']== 17:
        educlevel.append('Professional/Doctorate Degree')
    else:
        educlevel.append('N/A')
education232['Education level']=educlevel

In [9]:
education232=education232[education232['Education level'] != 'N/A']
education232=education232[education232['regionplace'] != 'N/A']

0           N/A
1           N/A
2         South
3           N/A
4         South
5     Northeast
6           N/A
7     Northeast
8         South
9       Midwest
10      Midwest
11        South
12      Midwest
13      Midwest
14      Midwest
15      Midwest
16    Northeast
17          N/A
18    Northeast
19      Midwest
Name: regionplace, dtype: object

In [7]:
education232=education232.reset_index(drop=True)

In [ ]:
education232.head()

In [13]:
education232regionavg= education232.groupby(['regionplace','Education level'])['FINCBTAX'].mean()

In [ ]:
education233regionmedian= education232.groupby(['regionplace','Education level'])['FINCBTAX'].median()

In [ ]:
education232regionavg

In [ ]:
education233regionmedian

In [ ]:
#plots....

2023 Quarter 3

In [5]:
education233= pd.read_csv(r"C:\Users\Owner\Documents\NSS\Capstone\Educationproj\data\intrvw23\fmli233.csv")

In [ ]:
education233.head()

In [ ]:
education233= education233[['REGION','HIGH_EDU','FINCBTAX']]

In [ ]:
education233.head()

In [ ]:
education233['regionplace']= ''
education233['Education level']=''

In [ ]:
regionplace233=[]
for index, region in education233.iterrows():
    if region['REGION']== 1:
        regionplace233.append('Northeast')
    elif region['REGION']== 2:
        regionplace233.append('Midwest')
    elif region['REGION']== 3:
        regionplace233.append('South')
    elif region['REGION']== 4:
        regionplace233.append('West')
    else:
        regionplace233.append('N/A')
education233['regionplace']=regionplace233

In [ ]:
educlevel233=[]
for index, educ in education233.iterrows():
    if educ['HIGH_EDU']== {0,00,10,11}:
        educlevel233.append('No degree')
    elif educ['HIGH_EDU']== {11,12,13}:
        educlevel233.append('High School')
    elif educ['HIGH_EDU']== 14:
        educlevel233.append('Associate Degree')
    elif educ['HIGH_EDU']== 15:
        educlevel233.append('Bachelor Degree')
    elif educ['HIGH_EDU']== 16:
        educlevel233.append('Master Degree')
    elif educ['HIGH_EDU']== 17:
        educlevel233.append('Professional/Doctorate Degree')
    else:
        educlevel233.append('N/A')
education233['Education level']=educlevel233

In [ ]:
#clean up the data from N/A values
education233=education233[education233['Education level'] != 'N/A']
education233=education233[education233['regionplace'] != 'N/A']

In [ ]:
education233=education233.reset_index(drop=True)

In [ ]:
education233.head()

In [ ]:
education233regionavg= education233.groupby(['regionplace','Education level'])['FINCBTAX'].mean()

In [ ]:
education233regionmedian= education233.groupby(['regionplace','Education level'])['FINCBTAX'].median()

2023 Q1 and Q4

In [9]:
education231= pd.read_csv(r"C:\Users\Owner\Documents\NSS\Capstone\Educationproj\data\intrvw22\fmli231.csv")
education234= pd.read_csv(r"C:\Users\Owner\Documents\NSS\Capstone\Educationproj\data\intrvw23\fmli234.csv")

In [11]:
education234.head()

,NEWID,DIRACC,DIRACC_,AGE_REF,AGE_REF_,AGE2,AGE2_,AS_COMP1,AS_C_MP1,AS_COMP2,...,CBSAPRIN,URBAN,CHDTXP,CHDTXP_,CHDTXPH,CHDTXPH_,NUM_VET,fftaxowe,fstaxowe,FINATXEM
0,5251754,1.0,D,39,D,39.0,D,2,D,3,...,2,2,NaN,A,NaN,A,1,2019,0,57981.0
1,5251764,1.0,D,34,D,34.0,D,1,D,1,...,2,1,NaN,A,NaN,A,0,73297,27329,286715.6
2,5251784,1.0,D,65,D,NaN,A,0,D,1,...,2,1,NaN,A,NaN,A,0,0,0,17197.0
3,5251854,1.0,D,49,D,NaN,A,0,D,2,...,2,1,NaN,A,NaN,A,0,8815,0,74135.0
4,5251874,1.0,D,42,D,NaN,A,1,D,0,...,2,1,NaN,A,NaN,A,0,6436,1969,55595.0

In [10]:
education231.head()

,NEWID,DIRACC,DIRACC_,AGE_REF,AGE_REF_,AGE2,AGE2_,AS_COMP1,AS_C_MP1,AS_COMP2,...,WHLFYR_,CBSAPRIN,URBAN,CHDTXP,CHDTXP_,CHDTXPH,CHDTXPH_,FFTAXOWE,FSTAXOWE,FINATXEM
0,5011064,1.0,D,87,T,NaN,A,1,D,2,...,A,1,1,NaN,A,NaN,A,-4051,744,57240.2
1,5011134,1.0,D,73,D,75.0,D,1,D,1,...,A,2,1,NaN,A,NaN,A,-6600,0,55570.0
2,5011244,1.0,D,47,D,44.0,D,1,D,1,...,A,2,1,NaN,A,NaN,A,22325,4892,145383.0
3,5011314,1.0,D,82,D,NaN,A,0,D,1,...,A,2,2,NaN,A,NaN,A,-1400,0,8732.0
4,5011334,1.0,D,87,T,80.0,D,1,D,1,...,A,1,1,NaN,A,NaN,A,-6600,-148,50555.0

In [8]:
education231= education231[['REGION','HIGH_EDU','FINCBTAX']]
education234= education234[['REGION','HIGH_EDU','FINCBTAX']]

In [ ]:
education231['regionplace']= ''
education231['Education level']=''
education234['regionplace']= ''
education234['Education level']=''

In [ ]:
#region for 2023 Q1
regionplace231=[]
for index, region in education231.iterrows():
    if region['REGION']== 1:
        regionplace231.append('Northeast')
    elif region['REGION']== 2:
        regionplace231.append('Midwest')
    elif region['REGION']== 3:
        regionplace231.append('South')
    elif region['REGION']== 4:
        regionplace231.append('West')
    else:
        regionplace231.append('N/A')
education231['regionplace']=regionplace231

In [ ]:
#education for 2023 Q1
educlevel231=[]
for index, educ in education231.iterrows():
    if educ['HIGH_EDU']== {0,00,10,11}:
        educlevel231.append('No degree')
    elif educ['HIGH_EDU']== {11,12,13}:
        educlevel231.append('High School')
    elif educ['HIGH_EDU']== 14:
        educlevel231.append('Associate Degree')
    elif educ['HIGH_EDU']== 15:
        educlevel231.append('Bachelor Degree')
    elif educ['HIGH_EDU']== 16:
        educlevel231.append('Master Degree')
    elif educ['HIGH_EDU']== 17:
        educlevel231.append('Professional/Doctorate Degree')
    else:
        educlevel231.append('N/A')
education231['Education level']=educlevel231

In [ ]:
#region for 2023 Q4
regionplace234=[]
for index, region in education231.iterrows():
    if region['REGION']== 1:
        regionplace234.append('Northeast')
    elif region['REGION']== 2:
        regionplace234.append('Midwest')
    elif region['REGION']== 3:
        regionplace234.append('South')
    elif region['REGION']== 4:
        regionplace234.append('West')
    else:
        regionplace234.append('N/A')
education231['regionplace']=regionplace234

In [ ]:
#education for 2023 Q4
educlevel234=[]
for index, educ in education234.iterrows():
    if educ['HIGH_EDU']== {0,00,10,11}:
        educlevel234.append('No degree')
    elif educ['HIGH_EDU']== {11,12,13}:
        educlevel234.append('High School')
    elif educ['HIGH_EDU']== 14:
        educlevel234.append('Associate Degree')
    elif educ['HIGH_EDU']== 15:
        educlevel234.append('Bachelor Degree')
    elif educ['HIGH_EDU']== 16:
        educlevel234.append('Master Degree')
    elif educ['HIGH_EDU']== 17:
        educlevel234.append('Professional/Doctorate Degree')
    else:
        educlevel234.append('N/A')
education234['Education level']=educlevel234

In [ ]:
#clean up data for 2023 Q1
education231=education231[education231['Education level'] != 'N/A']
education231=education231[education231['regionplace'] != 'N/A']

In [ ]:
#median and avg for Q1
education231regionavg= education231.groupby(['regionplace','Education level'])['FINCBTAX'].mean()
education231regionmedian= education231.groupby(['regionplace','Education level'])['FINCBTAX'].median()

In [ ]:
education231.head()

In [ ]:
#clean up data for Q4
education234=education234[education234['Education level'] != 'N/A']
education234=education234[education234['regionplace'] != 'N/A']

In [ ]:
#median and avg for Q4
education234regionavg= education234.groupby(['regionplace','Education level'])['FINCBTAX'].mean()
education234regionmedian= education234.groupby(['regionplace','Education level'])['FINCBTAX'].median()

Question 2: Do houholds with higher education levels demonstrate more prudent spending compared to households with lower educational levels?

In [12]:
fmlispend231= pd.read_csv(r"C:\Users\Owner\Documents\NSS\Capstone\Educationproj\data\intrvw22\fmli231.csv")
mtbicost231= pd.read_csv(r"C:\Users\Owner\Documents\NSS\Capstone\Educationproj\data\intrvw22\memi231.csv")

In [ ]:
#1. Merge FMLI and MTBI Q1 on new id
q1spending= pd.merge(fmlispend231, mtbicost231, on='NEWID', how='inner')

In [ ]:
q1spending.head()

In [ ]:
#keep relevent columns
q1spending=q1spending[['NEWID','REGION','HIGH_EDU','FINCBTAX','UCC','COST']]

In [ ]:
#categorize data essential vs non essential
q1spending['necessity']=''